{% extends "layout.html" %}
{% block content %}

    {% if show_recent %}
        <div class="container mt-4 text-center mx-auto">
            <h1>Browse Books</h1>
            <h6>Browse through our book selection or search for a book below.</h6>
            <p></p>
            <br>
            <h3 class="text-info">Our most recent additions</h3>
            <div class="row p-2">
                {% for book in recent_books %}
                    <div class="col-3 mb-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <img class="card-img-top img-fluid mx-auto"
                                     src="{{ url_for('static', filename='images/book.png') }}"
                                     style="max-width: 75%">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ book['title'] }}</h5>
                                <p class="card-text text-left">
                                    <span class="text-info">Author:</span> {{ book['author'] }}
                                    <br><span class="text-info">ISBN:</span> {{ book['ISBN'] }}
                                    <br><span class="text-info">Quality:</span> {{ book['copyQuality'] }}
                                    <br><span class="text-info">Points Needed:</span> {{ book['pointsNeeded'] }}
                                </p>
                                <p class="card-text text-center">
                                    <small>Listing User: {{ book['listingUser'] }}</small>
                                </p>

                                {% if session.user_num %}
                                    <form>
                                        <button type="submit" class="btn btn-primary btn-sm"
                                                formaction="/addToWishlist/{{ book['ISBN'] }}">Add to Wishlist
                                        </button>
                                    </form>
                                    <p></p>
                                    <form>
                                        <input type="hidden" id="userBooksId" name="userBooksId" value="{{ book['userBooksId'] }}"> <br>
                                        <input type="hidden" id="listing_user" name="listing_user" value="{{ book['listingUser'] }}"> <br>
                                        <input type="hidden" id="requested_book" name="requested_book" value="{{ book['ISBN'] }}"> <br>
                                        <button type="submit" class="btn btn-success btn-sm" formaction="/request-book">Request Trade</button>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="card-footer text-muted text-center">
                                listed {{ book['timeHere'] }} days ago
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    {% endif %}


    {% if show_search %}
        <div class="container w-50 text-center mx-auto mt-5">
        <div id="bookSearch" class="mt-4">
            <h2 class="text-info">Search For A Book</h2>
            <p>
                Let's find your next thing to read. For this search, the more items you
                enter, the more precise the search. Entering just an ISBN is always the
                most efficient way.
            </p>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.ISBN.label(class="form-control-label") }} {% if
                        form.ISBN.errors %} {{ form.ISBN(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ISBN.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} {{ form.ISBN(class="form-control") }} {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.author.label(class="form-control-label") }} {% if
                        form.author.errors %} {{ form.author(class="form-control
                        is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.author.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} {{ form.author(class="form-control") }} {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.title.label(class="form-control-label") }} {% if
                        form.title.errors %} {{ form.author(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} {{ form.title(class="form-control") }} {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(id="bookSearchFormButton" , class="btn btn-primary") }}
                </div>
            </form>
        </div>
        <br/>
    {% endif %}

{% if show_results %}
    <div id="bookSearchResults">
        <h2>Book Search Results</h2>
        <p>This is what we found. Time to get your read on!</p>
        <div class="list-group">
            {% for book in book_results %}
                <div
                        class="list-group-item list-group-item-action flex-column align-items-start"
                >
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ book['title'] }}</h5>
                        <small>listed {{ book['timeHere'] }} days ago</small>
                    </div>
                    <ul class="mb-1">
                        <li>Author: {{ book['author'] }}</li>
                        <li>ISBN: {{ book['ISBN'] }}</li>
                        <li>Copy Quality: {{ book['copyQuality'] }}</li>
                        <li>Points Needed: {{ book['pointsNeeded'] }}</li>
                    </ul>
                    <div class="d-flex w-100 justify-content-between">
                        <small>Listing User: {{ book['listingUser'] }}</small>
                        <form>
                            <button type="submit" class="btn btn-primary btn-sm" formaction="/addToWishlist/{{ book['ISBN'] }}">Add to Wishlist</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endif %}
</div>


{% endblock content %}
