{% extends "layout.html" %}
{% block content %}
    <div class="container w-75 m-4">
        <h1> FAQs </h1>
        <div class="accordion" id="FAQs">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What is BookSwap?
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#FAQs">
              <div class="card-body">
                BookSwap is a free platform for exchanging/recycling used books.
                If you have a shelf full of books that you've already read,
                you can send them off into the world for a second life!
                Then, with the points you've earned, you can give someone else's retired books a second life!
              </div>
            </div>
          </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How do I earn points?
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#FAQs">
                  <div class="card-body">
                    You can start earning points immediately by listing the books that you want to trade.
                    Then, when you send a book to someone, you earn points from the trade.
                  </div>
                </div>
              </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      How many books do I need to list in order to get my first point?
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#FAQs">
                  <div class="card-body">
                      Listing 10 books will earn you 1 point. Earn more points by sending your books out into the world!
                  </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      How do I put my books up for trade?
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#FAQs">
                  <div class="card-body">
                        Adding a book to the market can be done on the "My Books" tab.
                        You can add a book via any combination of ISBN, title, and/or author.
                        ISBN is the most direct way to get to your specific book,
                        but searching with the title/author combo is a good method too.
                        Searching by author without including a title or ISBN is the worst way to find/add a book,
                        but you can do it that way if you want.
                  </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFive">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        How many points should I list my book for?
                    </button>
                  </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#FAQs">
                  <div class="card-body">
                      The maximum amount that a book can be listed for is 10 points,
                        so you can think of the value of your book on a scale from 1 to 10.
                        If you have a book that is tattered or very common, you might list it for 1 point,
                        but if your book is very rare you might list it for 10 points.
                        If you list a common book that is in poor condition for 6 points,
                        it will probably collect more dust on your shelf.
                  </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        How will I know when someone wants my book?
                    </button>
                  </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#FAQs">
                  <div class="card-body">
                      Trades are managed in the "My Trades" tab. Once someone requests a book,
                      you will see the request under the "Trade Requests Awaiting your Approval" column.
                      You can choose to accept or reject the trade. If you accept, you will see your listing move to the
                      "Accepted Trade Requests not yet Received" column.
                  </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSeven">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        What if I accept a trade but I change my mind?
                    </button>
                  </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#FAQs">
                  <div class="card-body">
                        No sweat! Maybe that book is too special to get rid of, but you didn't realize until now.
                        You can always cancel a trade if you haven't yet sent the book.
                        In the "My Trades" tab, under the "Accepted Trade Requests not yet Received" column, click "cancel".
                  </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingEight">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                      How do I request a book?
                    </button>
                  </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#FAQs">
                  <div class="card-body">
                        There is a search feature at the bottom of the "Browse Books" tab.
                        If the book that you want is available on the market, you can search for it and request it from the owner.
                  </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingNine">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        What if the book that I want is not available on the market?
                    </button>
                  </h2>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#FAQs">
                  <div class="card-body">
                      You can add any book to your wishlist, regardless of availability, via ISBN search under the "Wishlist" tab.
                  </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTen">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        What if I don't have enough points for a book?
                    </button>
                  </h2>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#FAQs">
                  <div class="card-body">
                      Add it to your wishlist! You can come back later and get the book once you have enough points!
                  </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingEleven">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        What if my address changes?
                    </button>
                  </h2>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#FAQs">
                  <div class="card-body">
                        You can change your account information in the "Account Settings" tab by clicking "Update Information".
                  </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
