{% extends "layout.html" %}
{% set active_page = 'learn-how' %}
{% block content %}
    <div class="container w-100 m-4 d-flex justify-content-center">
        <div class="container w-75 justify-content-center">
            <div class="row justify-content-center">
                <h1> Learn How</h1>
            </div>
            <div class="row justify-content-center">
                <div id="learnCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#learnCarousel" data-slide-to="0" class="active" style="background-color:black"></li>
                        <li data-target="#learnCarousel" data-slide-to="1" style="background-color:black"></li>
                        <li data-target="#learnCarousel" data-slide-to="2" style="background-color:black"></li>
                        <li data-target="#learnCarousel" data-slide-to="3" style="background-color:black"></li>
                        <li data-target="#learnCarousel" data-slide-to="4" style="background-color:black"></li>
                        <li data-target="#learnCarousel" data-slide-to="5" style="background-color:black"></li>
                        <li data-target="#learnCarousel" data-slide-to="6" style="background-color:black"></li>
                        <li data-target="#learnCarousel" data-slide-to="7" style="background-color:black"></li>
                        <li data-target="#learnCarousel" data-slide-to="8" style="background-color:black"></li>
                        <li data-target="#learnCarousel" data-slide-to="9" style="background-color:black"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../static/images/Tutorial/Landing.png">
                            <div class="overlay">
                                <p class="c_txt">To get started, navigate to the signup page!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/images/Tutorial/SignUp.png">
                            <div class="overlay">
                                <p class="c_txt">Input your account information to sign up.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/images/Tutorial/Logging_in.png">
                            <div class="overlay">
                                <p class="c_txt">Once signed up, login to your new account to start trading books.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/images/Tutorial/Browsing.png">
                            <div class="overlay">
                                <p class="c_txt">Head to the browse books page to see available offerings.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/images/Tutorial/WishFor.png">
                            <div class="overlay">
                                <p class="c_txt">Click on the wishlist button to add a book to your wishlist. Others can see this wishlist to see if they have a book you want.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/images/Tutorial/ConfirmWish.png">
                            <div class="overlay">
                                <p class="c_txt">You can confirm or back out from adding a book to the wishlist.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/images/Tutorial/TradeReq.png">
                            <div class="overlay">
                                <p class="c_txt">Want this book right now? Request a trade to ask to trade a book with the user, if you have enough points.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/images/Tutorial/ConfirmReq.png">
                            <div class="overlay">
                                <p class="c_txt">You can confirm or back out from the trade.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/images/Tutorial/Searching.png">
                            <div class="overlay">
                                <p class="c_txt">Use the search bar to find a specific book that you're interested in.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../static/images/Tutorial/Pending.png">
                            <div class="overlay">
                                <p class="c_txt">Navigate to your trades to see the pending trades you need to accept, or the trades you're waiting on.</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#learnCarousel" role="button" data-slide="prev">
                        <i class="fas fa-arrow-left mr-5" style="color:black"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#learnCarousel" role="button" data-slide="next">
                        <i class="fas fa-arrow-right ml-5" style="color:black"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="row justify-content-center m-2">
                    <div class="accordion" id="learnHow">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Creating an Account and Logging In
                            </button>
                          </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#learnHow">
                          <div class="card-body">
                            To create an account, navigate to the "Sign Up" link on the navigation bar. 
                              Fill out all fields and click the blue "Sign Up" button to finalize your account.
                              Make sure your password is something you can remember!
                              Once your account is created, go ahead and log in. Navigate to the "Login" link on the navigation bar
                              and enter the email and password you used at signup into the form's fields. Press the "Login" button to enter your account.
                          </div>
                        </div>
                      </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Browsing Books
                                </button>
                              </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#learnHow">
                              <div class="card-body">
                                Next, what you came here for! Click on the "Browse Books" link in the navigation bar. You'll be redirected to a page where you can view
                                all of our latest offerings. From here, you can add a book to your wishlist, request a book, or search for a specific book. Keep in mind you
                                can only request books for which you have enough points. More on that later.
                              </div>
                            </div>
                          </div>

                        <div class="card">
                            <div class="card-header" id="headingThree">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Searching for a Book
                                </button>
                              </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#learnHow">
                              <div class="card-body">
                                  Is there a specific book you're looking for? Scroll down to the bottom of the "Browse Books" page to search for a specific book. You can search by
                                  author, title, or ISBN, but keep in mind the most efficient search is to look up the book by its ISBN. Once you initiate a search, you'll be redirected
                                  to a page with all the appropriate results, and you'll be able to add the results to your wishlist or request them directly.
                              </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  Requesting a Book
                                </button>
                              </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#learnHow">
                              <div class="card-body">
                                    Decided on the book you want? Click the "Request Trade" button to request to trade the posted book with the named user. You'll need a certain amount of points
                                    to make this request, and those points will be given to the user who listed the book upon acceptance of the trade. Once you've clicked the button, a panel will
                                    open with the final trade information. You can either close this trade by clicking "cancel" or officially request the book by clicking the
                                    "Please Request This Book" button.
                              </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingFive">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Wishing for a Book
                                </button>
                              </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#learnHow">
                              <div class="card-body">
                                  Have a book on your mind, but don't want to request the current options yet? Click the "Add to Wishlist" button to add the book to your wishlist. You'll be able
                                    to keep your wishlist forever, so you can keep track of which books you want and haven't been able to trade yet.
                              </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingSix">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Adding Books to Trade
                                </button>
                              </h2>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#learnHow">
                              <div class="card-body">
                                  Ready to trade some books? Head over to the "My Books" link on the navigation bar. You can search our database for a book that you have, and add it
                                  to your listings so you can trade your copy. Underneath "Books You Have Listed" you'll be able to see all the books you've listed to trade. You can
                                  remove any books from this list you no longer want to trade with the "Remove" button, or change how many points you'd like for it with the "Change" button
                                  underneath the "Points" column.
                              </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingSeven">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Managing Trades
                                </button>
                              </h2>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#learnHow">
                              <div class="card-body">
                                    If you head to the "My Trades" link on the navigation bar, you'll see all trade requests made for the books you've posted. You can accept or reject the trade
                                    with the corresponding buttons. If you reject the trade, your book is simply returned to our library for another user to request at a later time. If you accept
                                    the trade, you'll be given the appropriate amount of points and prompted to ship off your book. Don't forget to send your buyer their book as you'll be
                                    penalized for any unfulfilled requests.
                              </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingEight">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                  The Points System
                                </button>
                              </h2>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#learnHow">
                              <div class="card-body">
                                    <p>All trading on the website is managed by a generic point system. Every time a book is listed for trade, it is given a point value by the listing user. To
                                    trade the book with this user, you'll need that many points. Requesting the book will remove that many points from your total, and they will be returned to you
                                        should the trade be denied. If the trade is accepted, those points are sent to the listing user, and you'll be sent your book.</p>
                                  <p>As a listing user, you'll set the point price of any book you list, and will receive the points for any trade requests you accept. </p>
                                  <p>Wondering how to get your first points? To encourage active swapping, you won't get any points until you start listing books. After you've
                                     listed enough books, you'll be automatically rewarded with some points to get you started. </p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="lead"> Still have questions? Check out our <a href="{{ url_for('faq') }}">FAQs</a>. </p>
            </div>
        </div>
        
    </div>


{% endblock content %}
