{% extends "layout.html" %}
{% block content %}


    <div class="container mt-5">
        <div class="w-50 p-3 mx-auto">
            <div class="text-center"><h1>Login</h1></div>
            <form>
              <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername" aria-describedby="emailHelp" placeholder="Username">
              </div>
              <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary mr-3">Submit</button>
                Don't have an account? <a href="{{ url_for('signup') }}">Sign up here!</a>
            </form>
        </div>

    </div>

{% endblock content %}