{% macro book_list_table(caption, headers, rows, ids) %}
    <table class="table table-hover">
        <caption>{{ caption }}</caption>
        <tr>
            {% for header in headers %}
                {% if header != "ID" %}
                    <th scope="col">{{ header }}</th>
                {% endif %}
            {% endfor %}
            <th scope="col">Remove Book</th>
        </tr>
        {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td><i class="far fa-trash-alt" id="{{row[4]}}" onclick="handleClick({{row[4]}})"></i></td>
            </tr>
        {% endfor %}
    </table>
{%- endmacro %}
