{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% block content %}
    <p class="lead text-center py-4">
        Here are the books you've offered to swap - feel free to add to, or remove from, this list
    </p>

    <div class="container">
    <div class="w-75 p-3 mx-auto">
        <h4 class="pl-2">List a new book</h4>
        <form id="newBookForm">
            <div class="form-group">
                <label for="newBookISBN" class="pl-2">ISBN</label>
                <input class="form-control" id="newBookISBN" type="text" placeholder="Enter ISBN of book to list">
            </div>
            <div class="form-group">
                <label for="newBookQuality" class="pl-2">Quality of your copy?</label>
                <select class="form-control" id="newBookQuality">
                    {% for cq in data.copyqualities %}
                        <option value="{{ cq[0] }}">{{ cq[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="button" class="btn btn-primary ml-2" onclick="addBook()">Add Book</button>
        </form>
        <h4 class="pl-2 py-4">Books You've Listed</h4>
        {{ macros.book_list_table(data.caption, data.headers, data.rows) }}
    </div>
    </div>

    <!-- The AJAX script to add a book to the list -->
    <script type="text/javascript">
        function addBook() {
            $.ajax("{{ url_for('add_book') }}", {
                contentType: "application/json",
                data: JSON.stringify({'isbn': $('#newBookISBN').val(),
                                        'quality': $('#newBookQuality').val()}),
                type: 'POST',
                success: function(data) {
                    let newDoc = document.open("text/html", "replace");
                    newDoc.write(data);
                    newDoc.close();
                }
            });
        }
    </script>

{% endblock content %}