{% extends "layout.html" %}
{% set active_page = 'signup' %}
{% block content %}
<div class="container mt-5">
    <div class="w-50 p-3 mx-auto">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h1 class="text-center">Create an Account</h1>
                <legend class="text-center mb-4"></legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(class="form-control") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }} (please enter a minimum of 5 characters)
                    {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm_password(class="form-control") }}
                    {% endif %}
                </div>
                <div>
                    <!-- Explanation of request for personal information -->
                    <p>
                        Please enter the following information, so we can help you receive books. :)
                    </p>
                    <!-- First Name -->
                    <div class='form-group'>
                        {{ form.fName.label(class="form-control-label") }}
                        {% if form.fName.errors %}
                        {{ form.fName(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fName.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.fName(class="form-control") }}
                        {% endif %}
                    </div>
                    <!-- Last Name -->
                    <div class='form-group'>
                        {{ form.lName.label(class="form-control-label") }}
                        {% if form.lName.errors %}
                        {{ form.lName(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lName.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.lName(class="form-control") }}
                        {% endif %}
                    </div>
                    <!-- Street Address -->
                    <div class='form-group'>
                        {{ form.streetAddress.label(class="form-control-label") }}
                        {% if form.streetAddress.errors %}
                        {{ form.streetAddress(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.streetAddress.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.streetAddress(class="form-control") }}
                        {% endif %}
                    </div>
                    <!-- City -->
                    <div class='form-group'>
                        {{ form.city.label(class="form-control-label") }}
                        {% if form.city.errors %}
                        {{ form.city(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.city.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.city(class="form-control") }}
                        {% endif %}
                    </div>
                    <!-- State -->
                    <div class='form-group'>
                        {{ form.state.label(class="form-control-label") }}
                        {% if form.state.errors %}
                        {{ form.state(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.state.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.state(class="form-control") }}
                        {% endif %}
                    </div>
                    <!-- Post Code -->
                    <div class='form-group'>
                        {{ form.postCode.label(class="form-control-label") }}
                        {% if form.postCode.errors %}
                        {{ form.postCode(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.postCode.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.postCode(class="form-control") }}
                        {% endif %}
                    </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-info") }}
            </div>
        </form>
        <div class="border-top pt-3">
            Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Sign in.</a>
        </div>
    </div>
</div>

{% endblock content %}
