{% extends "layout.html" %} <!-- Edit to extend logged-in-layout HTML file (which has not yet been created).
                            It will have more navbar tabs -->
{% block content %}

        <section id="front">
        <div class="container text-center mt-5">
            <h2>Welcome, {{ account_settings["username"] }}!</h2>
            <div class="text-left">
                <h3> Here's Your User Information </h3>

                    <p> <span class="lead">Username:</span> {{ account_settings["username"] }} </p>
                    <p>  <span class="lead">First Name:</span> {{ account_settings["fName"] }}</p>
                    <p>  <span class="lead">Last Name:</span> {{ account_settings["lName"] }}</p>
                    <p>  <span class="lead">Street Address:</span> {{ account_settings["streetAddress"] }}</p>
                    <p>  <span class="lead">City:</span> {{ account_settings["city"] }}</p>
                    <p>  <span class="lead">State:</span> {{ account_settings["state"] }}</p>
                    <p>  <span class="lead">Post Code:</span> {{ account_settings["postCode"] }}</p>

                    <button type="button" class="btn btn-primary" 
                                          data-toggle="modal"
                                          id="userHomeAccountChangeButton"
                                          data-target="#userHomeAccountChangeModal"> 
                        Update Your Information
                    </button>


                <p> Would you like to log out?  <a href="/logout">Click here</a> </p>
            </div>
        </div>
        <div class="modal" id="userHomeAccountChangeModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Change My Account Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form id="userHomeAccountChangeForm">
                      <fieldset class="form-group">
                          <div class="form-group"
                          <label class="form-control-label" 
                              for="userHomeAccountChangeUsername"> Username/Email 
                          </label>
                          <input class="form-control" 
                                 id="userHomeAccountChangeUsername" 
                                 type="text" required
                                 value="{{account_settings["username"]}}"> 
                          </div>
                          <div class="form-group"
                          <label class="form-control-label" 
                                 for="userHomeAccountChangefName"> First Name 
                          </label>
                          <input class="form-control" 
                                 id="userHomeAccountChangefName" 
                                 type="text" required
                                 value="{{account_settings["fName"]}}"> 
                          </div>
                          <div class="form-group"
                          <label class="form-control-label" 
                                 for="userHomeAccountChangelName"> Last Name 
                          </label>
                          <input class="form-control" 
                                 id="userHomeAccountChangelName" 
                                 type="text" required
                                 value="{{account_settings["lName"]}}"> 
                          </div>
                          <div class="form-group"
                          <label class="form-control-label" 
                                 for="userHomeAccountChangeStreetAddress"> 
                              Street Address 
                          </label>
                          <input class="form-control" 
                                 id="userHomeAccountChangeStreetAddress" 
                                 type="text" required
                                 value="{{account_settings["streetAddress"]}}"> 
                          </div>
                          <div class="form-group"
                          <label class="form-control-label" 
                                 for="userHomeAccountChangeCity"> 
                              City
                          </label>
                          <input class="form-control" 
                                 id="userHomeAccountChangeCity" 
                                 type="text" required
                                 value="{{account_settings["city"]}}"> 
                          </div>
                          <div class="form-group"
                          <label class="form-control-label" 
                                 for="userHomeAccountChangeState"> 
                             State 
                          </label>
                          <input class="form-control" 
                                 id="userHomeAccountChangeState" 
                                 type="text" required
                                 value="{{account_settings["state"]}}"> 
                          </div>
                          <div class="form-group"
                          <label class="form-control-label" 
                                 for="userHomeAccountChangePostCode"> 
                             Post Code 
                          </label>
                          <input class="form-control" 
                                 id="userHomeAccountChangePostCode" 
                                 type="text" required
                                 value="{{account_settings["postCode"]}}"> 
                      </div>
                 </fieldset>
               </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <section id="footer">
            <div class="container text-center">
                <div class="footer">
                <small>Citations go here</small>
                </div>
            </div>
        </section>

    </section>



{% endblock content %}
