{% extends "layout.html" %} <!-- Edit to extend logged-in-layout HTML file (which has not yet been created).
                            It will have more navbar tabs -->
{% block content %}

        <section id="front">
        <div class="container text-center mt-5">
            <h2>Welcome, [username]!</h2> <!-- Edit to show user's name -->
            <h3> Here's Your User Information </h3>
            <ul>
                <li> Username: </li>
                <li> First Name: </li>
                <li> Last Name: </li>
                <li> Street Address: </li>
                <li> City: </li>
                <li> State: </li>
                <li> State: </li>
                <li> Post Code: </li>
            </ul>

            <h3>What would you like to do today?</h3>
            <ul>
                <li> Would you like to log out?  <a href="/logout">Click here to log out</a> </li>
            </ul>
        </div>

        <section id="footer">
            <div class="container text-center">
                <div class="footer">
                <small>Citations go here</small>
                </div>
            </div>
  </section>

    </section>



{% endblock content %}
