{% extends "layout.html" %}
{% block content %}
    {% for wish in data.table_content %}
    <h1>Wishlist</h1>
    <ul>
        {% for book in data.table_content[wish] %}
        <li>{{book}}
            <form action="/removeFromWishlist" method="GET">
                <input type="hidden" id="wishlistRem" name="wishlistRem" value="{{ wish }}">
                <input type="hidden" id="bookRem" name="bookRem" value="{{ book }}">
                <input type="submit" value="Remove">
            </form>
        </li>
        {% endfor %}
    </ul>
    <form action="/addToWishlist" method="GET">
        <label for="isbn">ISBN: </label>
        <input type="text" id="isbn" name="isbn" placeholder="Add by ISBN">
        <input type="hidden" id="wishlist" name="wishlist" value="{{ wish }}">
        <input type="submit">
    </form>
    
    {% endfor %}
{% endblock content %}