{% extends "layout.html" %}
{% set active_page = 'my-requests' %}
{% block content %}
<style>
span {
    font-weight: bold;
}
</style>
<div class="container m-5 mx-auto" style="max-width:85%;">
    <h4 class="text-center">My Requests</h4>
    <p class="lead text-center">
    <br>You have requested the following books.
    <br>Mark the book as received or cancel your request using the actions below.
    </p>
    <p></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Date Request Sent</th>
                <th scope="col" style="text-align:center;">Book Details</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table Row after book request is sent -->
            {% for book in requests  %}
            {% if book['statusId'] in [2,3] %}
            <tr class="table-light">
                <th scope="row">
                    {{ book['dateInitiated'] }}
                </th>
                <td>
                    <div class="row">
                        <div class="col-3 mx-auto text-center">
                            <img src="{{book['coverImageUrl']}}" 
                                 alt="Book Cover Image"
                                 class="img-thumbnail float-left"
                                 style="max-width: 80%;"/>
                        </div>
                        <div class="col-9 py-2">
                            <span>Title:</span> {{ book['title']}}
                            <br />
                            <span>Author:</span> {{ book['author']}}
                            <br />
                            <span>ISBN:</span> {{ book['isbn']}}
                            <br />
                            <span>Point Value:</span> {{ book['points']}}
                            <br />
                            <span>Listing User:</span> {{ book['username']}}
                        </div>
                    </div>
                </td>
                {% if book['statusId'] == 2 %}
                <td>
                    Request Sent
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm">Cancel Trade Request</button>
                </td>
                {% elif book['statusId'] == 3 %}
                <td class="text-success">Accepted <br>(Or Shipped)</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm">Mark as Received</button>
                    <button type="button" class="btn btn-primary btn-sm" disabled>You can mark as Not Received one month after request</button>
                </td>
                <!--
                {% elif book['statusId'] == 4 or book['statusId'] == 5 %}
                <td class="text-danger">Declined</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm">Remove</button>
                </td>
                -->
                 {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
