{% extends "layout.html" %}
{% set active_page = 'my-requests' %}
{% block content %}
<style>
span {
    font-weight: bold;
}
</style>
<div class="container m-5 mx-auto" style="max-width:85%;">
    <h4 class="text-center">My Requests</h4>
    <p class="lead text-center">
    <br>You have requested the following books.
    <br>Mark the book as received or cancel your request using the actions below.
    </p>
    <p></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Date Request Sent</th>
                <th scope="col" style="text-align:center;">Book Details</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table Row after book request is sent -->
            {% for book in requests  %}
            {% if book['statusId'] in [2,3] %}
            <tr class="table-light">
                <th scope="row">
                    {{ book['dateInitiated'] }}
                </th>
                <td>
                    <div class="row">
                        <div class="col-3 mx-auto text-center">
                            <img src="{{book['coverImageUrl']}}" 
                                 alt="Book Cover Image"
                                 class="img-thumbnail float-left"
                                 style="max-width: 80%;"/>
                        </div>
                        <div class="col-9 py-2">
                            <span>Title:</span> {{ book['title']}}
                            <br />
                            <span>Author:</span> {{ book['author']}}
                            <br />
                            <span>ISBN:</span> {{ book['isbn']}}
                            <br />
                            <span>Point Value:</span> {{ book['points']}}
                            <br />
                            <span>Listing User:</span> {{ book['username']}}
                        </div>
                    </div>
                </td>
                {% if book['statusId'] == 2 %}
                <td>
                    Request Sent
                </td>
                <td>
                    <button 
                             type="button" 
                             class="btn btn-primary btn-sm"
                             onclick='cancelTradeRequest( {{ book | tojson }})'>
                        Cancel Trade Request
                    </button>
                </td>
                {% elif book['statusId'] == 3 %}
                <td class="text-success">Accepted <br>(Or Shipped)</td>
                <td>
                    <button 
                        type="button" 
                        class="btn btn-primary btn-sm"
                        onclick='receivedTradeRequest( {{ book | tojson }})'>
                        Mark as Received
                    </button>
                    <br />
                    <button type="button" class="mt-3 btn btn-primary btn-sm" disabled>You can mark as Not Received one month after request</button>
                </td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div class="modal" tabindex="-1" role="dialog" id="cancelModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cancel Trade Request Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-12 mb-4">
                    <div class="row">
                        <div class="modal-body col-4">
                            <img class="card-img-top img-fluid mx-auto"
                                 id="cancelModalCover"
                                 style="max-width: 75%">
                        </div>
                        <div class="modal-body col-8 text-left">
                            <p> You have previously initiated a trade request for
                            <span class="text-info" id="cancelModalTitle"> </span>
                            by <span class='text-info' id="cancelModalAuthor"> </span>
                            (ISBN: <span class='text-info' id="cancelModalISBN"> </span>).
                            This book is being offered by user <span class='text-info'
                                                                    id='cancelModalUsername'> </span>.
                            </p>
                            <p> Do you really want to cancel this trade request and get back your 
                            <span class='text-info' id="cancelModalPoints"></span>?
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form id="cancelModalConfirmForm">
                            <div class="form-group">
                                <button id='cancelTradeModalConfirmationButton' type="submit"
                                                                                class="btn btn-primary">
                                    Cancel Trade Request
                                </button>
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                    Keep Trade Request
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="receivedModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Received Book Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-12 mb-4">
                    <div class="row">
                        <div class="modal-body col-4">
                            <img class="card-img-top img-fluid mx-auto"
                                 id="receivedModalCover"
                                 style="max-width: 75%">
                        </div>
                        <div class="modal-body col-8 text-left">
                            <p> Did you get your book?  Wonderful!</p>
                            <span class="text-info" id="receivedModalTitle"> </span>
                            by <span class='text-info' id="receivedModalAuthor"> </span>
                            (ISBN: <span class='text-info' id="receivedModalISBN"> </span>).
                            </p>
                            <p>
                                                           This book was offered by user <span class='text-info'
                                                                    id='receivedModalUsername'> </span>.
                            </p>
                            <p> Please confirm that you received the book, so they can get their
                            <span class='text-info' id="receivedModalPoints"></span>.
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form id="receivedModalConfirmForm">
                            <div class="form-group">
                                <button id='receivedTradeModalConfirmationButton' type="submit"
                                                                                class="btn btn-primary">
                                    Mark Book As Received
                                </button>
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                    Not Yet
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/my-requests.js') }}">
</script>
{% endblock content %}
