{% extends "layout.html" %}
{% block content %}

<div class="split left">
    <div class="centered">
        <h1> My Requests </h1>
        <ul>
            {% for trade in trade_info %}
            <li>{{ trade["Title"], trade["Quality"], trade["Points"], trade["Owner"] }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <h1> Pending Trades </h1>
        <ul>
            {% for pend in pending %}
            <li>{{ pend }}</li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock content %}


