{% extends "layout.html" %}
{% block content %}


<div class="container m-6">
    <div class="row">
        <div class="col-4">
            <h1> Trade Requests Awaiting Your Approval </h1>
            {% for pend in pending %}
            <div class="card">
                <div class="card-body">
                    <p>Some info: {{ pend }}</p>
                    <!-- the below buttons are currently non-functional; update coming in sprint 5 -->
                    <form>
                        <button type="submit" class="btn btn-primary btn-sm"
                                formaction="***Add button functionality in sprint 5***">Accept
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm"
                                formaction="***Add button functionality in sprint 5***">Reject
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-4">
            <h1> Accepted Trade Requests Not Yet Received </h1>
            {% for trade in trade_info %}
            <div class="card">
                <div class="card-body">
                    <p>Title: {{ trade["Title"] }}</p>
                    <p>Book Quality: {{ trade["Quality"] }}</p>
                    <p>Points for Trade: {{ trade["Points"] }}</p>
                    <p>Book Owner: {{ trade["Owner"] }}</p>
                    <!-- the below button is currently non-functional; update coming in sprint 5 -->
                    <form>
                        <button type="submit" class="btn btn-primary btn-sm"
                                formaction="***Add button functionality in sprint 5***">Cancel Trade
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}


