{% extends "layout.html" %}
{% block content %}

<div class="container m-4">
    <div class="row">
        <div class="col-6">
            <h1> My Requests </h1>
            <ul>
                {% for trade in trade_info %}
                <li>{{ trade["Title"], trade["Quality"], trade["Points"], trade["Owner"] }}</li>
                {% endfor %}
            </ul>
            <div class="col-6">
                <h1> Pending Trades </h1>
                <ul>
                    {% for pend in pending %}
                    <li>{{ pend }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% endblock content %}


