{% extends "layout.html" %}
{% set active_page = 'received-reqs' %}
{% block content %}
    <style>
        span {
            font-weight: bold;
        }
    </style>

    <p></p>
    <div class="container mb-5 w-75 m-5 mx-auto">
        <h2 class='text-center'>
            Trade Requests From Other Users
        </h2>
        <br/>
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class='nav-link active' data-toggle='tab' href='#awaitingApproval'>
                    Awaiting Approval
                    <br/>
                    <span class='text-info'>
                    Approve or Reject Me!
                </span>
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' data-toggle='tab' href='#accepted'>
                    Accepted Requests
                    <br/>
                    <span class='text-info'>
                    Ship Me!
                </span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id='awaitingApproval' class='tab-pane fade in active show'>
                <h4 class="text-center"> Trade Requests Awaiting Your Approval </h4>
                {% if num_trade_reqs == 0 %}
                    <p class="lead text-center text-info mt-4">You have no pending trade requests. </p>
                {% else %}
                    <p class='lead text-center'>
                        The following books of yours have been requested.
                        <br/>
                        Please accept the
                        requests you would like to fulfill, and reject the requests you do
                        not want to fulfill.
                    </p>
                    <table class='table table-hover'>
                        <thead>
                        <tr>
                            <th scope='col'>
                                Date Request Sent
                            </th>
                            <th scope='col' style='text-align:center;'>
                                Book Details
                            </th>
                            <th scope='col'>
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for trade in trade_info %}
                            <!-- "Requested Trades" -->
                            {% if trade["StatusId"] == 2 %}
                                <tr class='table-light'>
                                    <th scope='row'>
                                        {{ trade['StartDate'] }}
                                    </th>
                                    <td>
                                        <div class='row'>
                                            <div class='col-3 mx-auto text-center'>
                                                <img src='{{ trade['coverImageUrl'] }}'
                                                     alt='Book Cover Image'
                                                     class='img-thumbnail float-left'
                                                     style='max-width: 80%;'/>
                                            </div>
                                            <div class='col-9 py-2'>
                                                <span> Title:</span>
                                                {{ trade['Title'] }}
                                                <br/>
                                                <span> Author:</span>
                                                {{ trade['Author'] }}
                                                <br/>
                                                <span> ISBN:</span>
                                                {{ trade['ISBN'] }}
                                                <br/>
                                                <span> Book Quality:</span>
                                                {{ trade['Quality'] }}
                                                <br/>
                                                <span> Point Value:</span>
                                                {{ trade['Points'] }}
                                                <br/>
                                                <span> Requesting User:</span>
                                                {{ trade['Requester'] }}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button
                                                type="submit"
                                                class="btn btn-primary btn-sm"
                                                onclick='acceptTradeRequest( {{ trade | tojson }})'>
                                            Accept
                                        </button>
                                        <button
                                                type="submit"
                                                class="btn btn-danger btn-sm"
                                                onclick='rejectTradeRequest( {{ trade | tojson }})'>
                                            Reject
                                        </button>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <br/> <br/> <br/>
                {% endif %}
            </div>

            <div id='accepted' class='tab-pane fade'>
                <h4 class="text-center"> Trades You Have Approved </h4>
                {% if num_open_trades == 0 %}
                    <p class="lead text-center text-info mt-4">
                        You have no open trades.
                        <br>Check the 'Awaiting Approval' tab for any pending requests you have received.
                        <br><br><br>
                    </p>
                    <br><br><br><br>
                {% else %}
                    <p class='lead'>
                        You have agreed to the following trades.
                        <br/>
                        If you have not already done so, please mail off the following
                        books, so the requester can start reading.
                        <br/>
                        If you need to cancel the trade, you can also do that here.
                    </p>
                    <table class='table table-hover'>
                        <thead>
                        <tr>
                            <th scope='col'>
                                Date Request Sent
                            </th>
                            <th scope='col' style='text-align:center;'>
                                Book Details
                            </th>
                            <th scope='col'>
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for trade in trade_info %}
                            <!-- "Requested Trades" -->
                            {% if trade["StatusId"] == 3 %}
                                <tr class='table-light'>
                                    <th scope='row'>
                                        {{ trade['StartDate'] }}
                                    </th>
                                    <td>
                                        <div class='row'>
                                            <div class='col-3 mx-auto text-center'>
                                                <img src='{{ trade['coverImageUrl'] }}'
                                                     alt='Book Cover Image'
                                                     class='img-thumbnail float-left'
                                                     style='max-width: 80%;'/>
                                            </div>
                                            <div class='col-9 py-2'>
                                                <span> Title:</span>
                                                {{ trade['Title'] }}
                                                <br/>
                                                <span> Author:</span>
                                                {{ trade['Author'] }}
                                                <br/>
                                                <span> ISBN:</span>
                                                {{ trade['ISBN'] }}
                                                <br/>
                                                <span> Book Quality:</span>
                                                {{ trade['Quality'] }}
                                                <br/>
                                                <span> Point Value:</span>
                                                {{ trade['Points'] }}
                                                <br/>
                                                <span> Requesting User:</span>
                                                {{ trade['Requester'] }}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary btn-sm"
                                                onclick='cancelTradeRequest( {{ trade | tojson }})'>Cancel
                                        </button>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <br/> <br/> <br/>
                {% endif %}
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="rejectModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Reject Trade Request Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="row">
                            <div class="modal-body col-4">
                                <img class="card-img-top img-fluid mx-auto"
                                     id="rejectModalCover"
                                     style="max-width: 75%">
                            </div>
                            <div class="modal-body col-8 text-left">
                                <p> You are about to reject the trade request for
                                    <span class="text-info" id="rejectModalTitle"> </span>
                                    by <span class='text-info' id="rejectModalAuthor"> </span>
                                    (ISBN: <span class='text-info' id="rejectModalISBN"> </span>).
                                    This request was made by user <span class='text-info'
                                                                        id='rejectModalUsername'> </span>
                                </p>
                                <p> If you instead decide to accept this request, you would
                                    earn <span class='text-info' id="rejectModalPoints"></span>.
                                </p>
                                <p> Are you certain you would like to reject the request? </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <form id="rejectModalConfirmForm">
                                <div class="form-group">
                                    <button id='requestTradeModalConfirmationButton' type="submit"
                                            class="btn btn-primary">
                                        Yes, Please Reject The Trade Request
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="acceptModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Accept Trade Request Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="row">
                            <div class="modal-body col-4">
                                <img class="card-img-top img-fluid mx-auto"
                                     id="acceptModalCover"
                                     style="max-width: 75%">
                            </div>
                            <div class="modal-body col-8 text-left">
                                <p> You are about to accept the trade request for
                                    <span class="text-info" id="acceptModalTitle"> </span>
                                    by <span class='text-info' id="acceptModalAuthor"> </span>
                                    (ISBN: <span class='text-info' id="acceptModalISBN"> </span>).
                                    This request was made by user <span class='text-info'
                                                                        id='acceptModalUsername'> </span>
                                </p>
                                <p> In exchange for helping this user read this desired book, you will earn
                                    <span class='text-info' id="acceptModalPoints"></span>.
                                </p>
                                <p>Are you certain you would like to accept the request?</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <form id="acceptModalConfirmForm">
                                <div class="form-group">
                                    <button id='acceptTradeModalConfirmationButton' type="submit"
                                            class="btn btn-primary">
                                        Yes, I Accept This Trade Request
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="cancelModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cancel Trade Request Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="row">
                            <div class="modal-body col-4">
                                <img class="card-img-top img-fluid mx-auto"
                                     id="cancelModalCover"
                                     style="max-width: 75%">
                            </div>
                            <div class="modal-body col-8 text-left">
                                <p> You have previously accepted the trade request for
                                    <span class="text-info" id="cancelModalTitle"> </span>
                                    by <span class='text-info' id="cancelModalAuthor"> </span>
                                    (ISBN: <span class='text-info' id="cancelModalISBN"> </span>).
                                    This request was made by user<span class='text-info'
                                                                       id='cancelModalUsername'> </span>.
                                </p>
                                <p> Do you really want to cancel this trade, and not earn the
                                    <span class='text-info' id="cancelModalPoints"></span>?
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <form id="cancelModalConfirmForm">
                                <div class="form-group">
                                    <button id='cancelTradeModalConfirmationButton' type="submit"
                                            class="btn btn-primary">
                                        Cancel Trade
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                        Keep Trade
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/my-trades.js') }}">
    </script>
{% endblock content %}
