{% extends "layout.html" %} <!-- Edit to extend logged-in-layout HTML file (which has not yet been created).
                            It will have more navbar tabs -->
{% block content %}

    <div class="container text-center mt-5">
        <div class="col-6 mx-auto">
            <img src="{{ url_for('static', filename='images/settings.png') }}" alt=""
                 class="img-fluid col-2 mx-auto float-left">
            <h2 class="display-5">Welcome, {{ account_settings["username"] }}!</h2>
            <p class="lead"> Your Account Information </p>
            <hr class="my-6">
            <p><span class="text-info text-uppercase">Username</span> <br>{{ account_settings["username"] }} </p>
            <p><span class="text-info text-uppercase">Email</span> <br>{{ account_settings["email"] }} </p>
            <p><span class="text-info text-uppercase">First Name</span> <br>{{ account_settings["fName"] }}</p>
            <p><span class="text-info text-uppercase">Last Name</span><br> {{ account_settings["lName"] }}</p>
            <p><span class="text-info text-uppercase">Street Address</span><br> {{ account_settings["streetAddress"] }}
            </p>
            <p><span class="text-info text-uppercase">City</span><br> {{ account_settings["city"] }}</p>
            <p><span class="text-info text-uppercase">State</span><br> {{ account_settings["state"] }}</p>
            <p><span class="text-info text-uppercase">Postal Code</span><br> {{ account_settings["postCode"] }}</p>

            <button type="button" class="btn btn-primary"
                    id="userHomeAccountChangeButton"
                    data-toggle="modal"
                    data-target="#userHomeAccountChangeModal">

                Update Your Information
            </button>
            <button type='button' class="btn btn-primary"
                    id="userHomePasswordChangeButton"
                    data-toggle="modal"
                    data-target="#userHomePasswordChangeModal">

                Change Your Password
            </button>

            <p><br> Would you like to log out? <a href="/logout">Click here</a></p>
        </div>

    </div>
    <div class="modal" tabindex="-1" role="dialog" id="userHomeAccountChangeModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change My Account Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="userHomeAccountChangeForm">
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label class="form-control-label"
                                       for="userHomeAccountChangeUsername"> Username
                                </label>
                                <input class="form-control"
                                       id="userHomeAccountChangeUsername"
                                       type="text" required
                                       value="{{ account_settings["username"] }}">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label"
                                       for="userHomeAccountChangeEmail"> Email
                                </label>
                                <input class="form-control"
                                       id="userHomeAccountChangeEmail"
                                       type="text" required
                                       value="{{ account_settings["email"] }}">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label"
                                       for="userHomeAccountChangefName"> First Name
                                </label>
                                <input class="form-control"
                                       id="userHomeAccountChangefName"
                                       type="text" required
                                       value="{{ account_settings["fName"] }}">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label"
                                       for="userHomeAccountChangelName"> Last Name
                                </label>
                                <input class="form-control"
                                       id="userHomeAccountChangelName"
                                       type="text" required
                                       value="{{ account_settings["lName"] }}">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label"
                                       for="userHomeAccountChangeStreetAddress">
                                    Street Address
                                </label>
                                <input class="form-control"
                                       id="userHomeAccountChangeStreetAddress"
                                       type="text" required
                                       value="{{ account_settings["streetAddress"] }}">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label"
                                       for="userHomeAccountChangeCity">
                                    City
                                </label>
                                <input class="form-control"
                                       id="userHomeAccountChangeCity"
                                       type="text" required
                                       value="{{ account_settings["city"] }}">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label"
                                       for="userHomeAccountChangeState">
                                    State
                                </label>
                                <input class="form-control"
                                       id="userHomeAccountChangeState"
                                       type="text" required
                                       value="{{ account_settings["state"] }}">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label"
                                       for="userHomeAccountChangePostCode">
                                    Post Code
                                </label>
                                <input class="form-control"
                                       id="userHomeAccountChangePostCode"
                                       type="text" required
                                       value="{{ account_settings["postCode"] }}">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            onclick="changeUserInformation()">
                        Save changes
                    </button>
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog"
         id="userHomePasswordChangeModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change My Password</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="userHomePasswordChangeForm">
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label class="form-control-label"
                                       for="old-password">
                                    Current Password
                                </label>
                                <input class="form-control"
                                       id="old-password"
                                       type="password" required>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label"
                                       for="new-password">
                                    New Password
                                </label>
                                <input class="form-control"
                                       id="new-password"
                                       type="password" required>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label"
                                       for="new-password-confirm">
                                    Confirm New Password
                                </label>
                                <input class="form-control"
                                       id="new-password-confirm"
                                       type="password" required>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            onclick="changePassword()">
                        Save changes
                    </button>
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>


    <section id="footer">
        <div class="container text-center">
            <div class="footer">
                <small>
                    Icon made by
                    <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>
                    from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </small>
            </div>
        </div>
    </section>


    <script type=" text/javascript">
        // Check that new password confirm matches new password
        $("#new-password-confirm").keyup(function () {
            if ($("#new-password").val() !== $(this).val()) {
                $(this).removeClass("is-valid").addClass("is-invalid");
            } else {
                $(this).removeClass("is-invalid").addClass("is-valid");
            }
        });

        $("#new-password").on("keyup", function () {
            if ($("#new-password-confirm").val()) {
                if ($(this).val() !== $("#new-password-confirm").val()) {
                    $("#new-password-confirm").removeClass("is-valid").addClass("is-invalid");
                } else {
                    $("#new-password-confirm").removeClass("is-invalid").addClass("is-valid");
                }
            }
        });

        // Send off user info change
        function changeUserInformation() {
            $.ajax("{{ url_for('account') }}", {
                contentType: "application/json",
                data: JSON.stringify({
                    // First key:value is flag for request
                    "request": "changeUserSettings",
                    // Other key:value pairs are user data
                    "username": $("#userHomeAccountChangeUsername").val(),
                    "email": $("#userHomeAccountChangeEmail").val(),
                    "fName": $("#userHomeAccountChangefName").val(),
                    "lName": $("#userHomeAccountChangelName").val(),
                    "streetAddress": $("#userHomeAccountChangeStreetAddress").val(),
                    "city": $("#userHomeAccountChangeCity").val(),
                    "state": $("#userHomeAccountChangeState").val(),
                    "postCode": $("#userHomeAccountChangePostCode").val()
                }),
                type: "POST",
                success: function (account_settings) {
                    $('#userHomeAccountChangeModal').modal("hide");
                    let newDoc = document.open("text/html", "replace");
                    newDoc.write(account_settings);
                    newDoc.close();
                    // location.reload(true);
                }
            });
        }

        // Send off password info change
        function changePassword() {
            if (($("#new-password").val() === "") ||
                ($("#new-password").val() != $("#new-password-confirm").val())) {
                alert(`Please make sure you enter a new password, and that you
    enter the same new password twice.`);
            } else {
                $.ajax("{{ url_for('account') }}", {
                    contentType: "application/json",
                    data: JSON.stringify({
                        // First key:value is flag for request
                        "request": "changePassword",
                        // Other key:value pairs are user data
                        "username": "{{ account_settings["username"] }}",
                        "oldPassword": $("#old-password").val(),
                        "newPassword": $("#new-password").val()
                    }),
                    type: "POST",
                    success: function (account_settings) {
                        if (account_settings['passwordMismatch'])
                            $("#old-password").val("");
                        else {
                            $("#userHomePasswordChangeModal").modal("hide");
                            let newDoc = document.open("text/html", "replace");
                            newDoc.write(account_settings);
                            newDoc.close();
                        }
                    }
                });
            }
        }

    </script>


{% endblock content %}
