{% extends "layout.html" %}
{% set active_page = 'wishlist' %}
{% block content %}

    <!--Scripts for Book Removal-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/my-wishlist.js') }}">
    </script>

    <script type="text/javascript">
        function searchBook() {
            searchBookTemplate("{{ url_for('search_book') }}")
        };

        function addBook(bookId) {
            addBookTemplate("{{ url_for('add_book') }}", bookId)
        };
    </script>

    <div class="container mt-5">
        <div class="p-3 mx-auto">
            <h2 class="text-center">My Wishlist</h2>

            {% if books|length == 0 %}
                <div class="container mx-auto mt-4 text-center">
                    <p class="lead">You have not added any books to your wishlist.
                        <br>Use the search tool below to search for books to add.</p>
                </div>
            {% endif %}

            <br/>
            <!-- Hidden div for showing a pending search results message -->
            <div id="pendingSearch" style="display:none">
                <h4 class="p1-2 text-center">Searching for book...</h4>
                <div class="progress container w-75 mb-5">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                </div>
                <div class="mb-5 container"><br><br><br><br><br></div>
            </div>

            <div class="form-group w-50 mx-auto mb-5" id="wishlistSearch">
                <h5 class="mt-2 text-center">Add Book to Wishlist</h5>
                <form id="newBookForm" onsubmit="searchBook(); return false">
                    <div class="form-group">
                        <label for="newBookTitle" class="pl-2">Title</label>
                        <input class="form-control" id="newBookTitle" type="text"
                               placeholder="Enter title of book to add to wishlist">
                    </div>
                    <div class="form-group">
                        <label for="newBookAuthor" class="pl-2">Author</label>
                        <input class="form-control" id="newBookAuthor" type="text"
                               placeholder="Enter author of book to add to wishlist">
                    </div>
                    <div class="form-group">
                        <label for="newBookISBN" class="pl-2">ISBN</label>
                        <input class="form-control" id="newBookISBN" type="text"
                               placeholder="Enter ISBN of book to add to wishlist">
                    </div>
                    <button id="submitBookSearch" type="submit" class="btn btn-info ml-2" onclick="">
                        Search for Book
                    </button>
                </form>
            </div>

            <!-- Hidden div that displays search results - these are rendered using a separate template and just appended here -->
            <div class="w-75 mx-auto mb-5">
                <div id="searchResults" style="display:none">
                    <div id="searchResultsInner"></div>
                    <button type="button" class="btn btn-primary ml-2"
                            onclick="cancelAddBook()"> ← Back to search
                    </button>
                </div>
            </div>

            <div id="myWishlist">
                {% if books %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Cover</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">ISBN</th>
                            <th scope="col">Number Available</th>
                            <th scope="col">Lowest Cost</th>
                            <th scope="col">See Copies</th>
                            <th scope="col">Remove Book</th>
                        </tr>
                        </thead>
                        {% for book in books %}
                            <tr>
                                <td><img src="{{ book['coverImageUrl'] }}" alt="Book Cover Image"
                                         class="w-75 img-fluid">
                                </td>
                                <th scope="row"> {{ book["title"] }}</th>
                                <td> {{ book["author"] }}</td>
                                <td> {{ book["ISBN"] }}</td>
                                <td> {{ book["numberAvailable"] }}</td>
                                <td> {{ book["minPoints"] }}</td>
                                <td>
                                    <button type="button"
                                            class="btn btn-primary btn-sm"
                                            onclick='seeCopies({{ book|tojson }})'
                                            {% if book["numberAvailable"] == 0 %}
                                            disabled
                                            {% endif %}
                                    >
                                        Show Copies
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary btn-sm"
                                            onclick='confirmRemoveBook({{ book | tojson }})'> Remove
                                    </button>
                                </td>
                            </tr>
                            <div class="modal" id="removeBookModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Confirm Removal</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you wish to remove
                                                <span class="text-info" id="removeBookModalTitle">
                                </span>
                                                ?
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{{ url_for('remove_wish') }}" method="GET">
                                                <input type="hidden" id="wishlistRem" name="wishlistRem">
                                                <input type="hidden" id="bookRem" name="bookRem">
                                                <input type="submit" value="Remove" class="btn btn-primary">
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Never mind
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            <br/>
        </div>
        <div class="modal" id="showCopiesModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="modal-title">Copies of
                                    <span class='text-info' id="showCopiesModalTitle">
                                </span>
                                </h5>
                            </div>
                            <div class="col-4">
                                <img id="showCopiesModalCover" alt="Book Cover Image" class="w-75 img-fluid">
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="showCopiesModalBody">
                    </div>
                    <div class="modal-footer" id="showCopiesModalFooter">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" data-keyboard="false" data-backgrop="static"
             tabindex="-1" role="dialog" id="requestTradeSuccessModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Book Request Sent!</h5>
                    </div>
                    <div class="modal-body text-left">
                        <p>
                            Your request of
                            <span class="text-info" id="requestTradeSuccessModalTitle"></span>
                            from <span class='text-info' id="requestTradeSuccessModalUsername"></span>
                            has been placed.
                        </p>
                        <p> This has cost you
                            <span class='text-info' id="requestTradeSuccessModalPointsNeeded"></span>, leaving you with
                            <span class='text-info' id='requestTradeSuccessModalPointsAvailable'></span>.
                        </p>
                        <p>If your request is rejected, the points will be returned to your balance. A refund can also
                            be
                            processed if the book is never received.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('wishlist') }}" class="btn btn-primary active" role="button">
                            Close
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
